@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
 }

* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app{
  min-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 50px;
}
/*body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 100vh;
}*/
a {
  text-decoration: none;
  text-transform: none;
}
 .container {
  margin: 30px auto;
  width: 400px;
}

 h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}  

/* Navbar //////////////////////////////////////////////////*/
.navbar{
display: flex;;
justify-content: space-between;
}
/*.nav-links{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-profile{
  height:150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profilePic{
  border-radius: 50%;
  border: 3px solid black;
} */ 
/* Money //////////////////////////////////////////////////*/
.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.inc-exp-container > div {
  flex: 1;
  text-align: center;
}
.money-plus {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
  color: #2ecc71;
}
.money-minus {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
  color: #c0392b;
}
/* Form //////////////////////////////////////////////////*/
label {
  display: inline-block;
  margin: 10px 0;
}
input[type='email'],
input[type='password'],
input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
.edit-btn{
  display: flex;
  align-items: center;
}
.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  text-align: center;
}
.btn:focus,
.delete-btn:focus {
  outline: 0;
}
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}
.list li.plus {
  border-right: 5px solid #2ecc71;
}
.list li.minus {
  border-right: 5px solid #c0392b;
}
.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.list li:hover .delete-btn {
  opacity: 1;
}
/* Transactions //////////////////////////////////////////////////*/
.receipt{
  display: flex;
  justify-content: center;
}
.receipt-img{
  width: 250px;
  height: auto;
}
.add-btn{
  background-color: #9c88ff;
  border-radius: 50;
  color:white;
}
.transaction-card{
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}


/* About Page //////////////////////////////////////////////////*/
.about-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.developer-card{
  position: relative;
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 40px;
  background-color: white;
  padding:40px;
}

.profile-pic{
  height: 100px;
  width: auto;
}
.dev-name{
  margin: 30px 0px 10px 0px;
  font-weight: 500;
  font-size: 2em;
  color: black;
  text-align: center;
}
.dev-link{
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: black
}
